<a href="https://colab.research.google.com/github/areebahassan0099/DataAnalytics-FA24-BBD-086/blob/main/Data_Manipulation_Missing_Value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*italicized text*# **Activity 1: Understanding and Exploring the Dataset (30 min)**

âœ… **Goal: Load and explore the dataset to understand its structure and contents.**

# Tasks: Load the dataset using Pandas.

In [ ]:
#Importing Pandas and Numpy
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd
file_path = ("/content/Titanic-Dataset.csv")
df = pd .read_csv(file_path)

FileNotFoundError: [Errno 2] No such file or directory: '/content/Titanic-Dataset.csv'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

In [ ]:
from re import A
data1 = pd.DataFrame({'name':['alice','bob','charlie','david'],
                     'age':[25,30,35,40],
                     'city':['new york','san','chicago','los angeles'],
                     'salary':['$50000','$55000','$60000','$65000']},
                     index=['a','b',
                            'c','d'])

In [ ]:
from re import A
data1 = pd.DataFrame({'name':['alice','bob','charlie','david'],
                     'age':[25,30,35,40],
                     'city':['new york','san','chicago','los angeles'],
                     'salary':['$50000','$55000','$60000','$65000']},
                     index=['a','b',
                            'c','d'])

[link text](https://)# **Assignmen Dataframe to DF**

> Add blockquote

> Add blockquote

> Add blockquote

> Add blockquote

In [ ]:
#df = pd.read_csv("melb_data.csv")
# Try with wrong syntax that misses a quotation mark , it will give error,
df = pd.read_csv("/Titanic-Dataset.csv")

# **Overview of the data**

In [ ]:
print(df.tail(5))  # Display first few rows

              Suburb        Address  Rooms Type      Price Method   SellerG  \
13575  Wheelers Hill   12 Strada Cr      4    h  1245000.0      S     Barry
13576   Williamstown  77 Merrett Dr      3    h  1031000.0     SP  Williams
13577   Williamstown    83 Power St      3    h  1170000.0      S     Raine
13578   Williamstown   96 Verdon St      4    h  2500000.0     PI   Sweeney
13579     Yarraville     6 Agnes St      4    h  1285000.0     SP   Village

             Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
13575  26/08/2017      16.7    3150.0  ...       2.0  2.0     652.0
13576  26/08/2017       6.8    3016.0  ...       2.0  2.0     333.0
13577  26/08/2017       6.8    3016.0  ...       2.0  4.0     436.0
13578  26/08/2017       6.8    3016.0  ...       1.0  5.0     866.0
13579  26/08/2017       6.3    3013.0  ...       1.0  1.0     362.0

       BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
13575           NaN     1981.0          NaN -37.90562   145.16761
13576         133.0     1995.0          NaN -37.85927   144.87904
13577           NaN     1997.0          NaN -37.85274   144.88738
13578         157.0     1920.0          NaN -37.85908   144.89299
13579         112.0     1920.0          NaN -37.81188   144.88449

                       Regionname Propertycount
13575  South-Eastern Metropolitan        7392.0
13576        Western Metropolitan        6380.0
13577        Western Metropolitan        6380.0
13578        Western Metropolitan        6380.0
13579        Western Metropolitan        6543.0

[5 rows x 21 columns]

In [ ]:

print(df.info())  # Overview of dataset
print(df.describe())  # Summary statistics

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB
None
              Rooms         Price      Distance      Postcode      Bedroom2  \
count  13580.000000  1.358000e+04  13580.000000  13580.000000  13580.000000
mean       2.937997  1.075684e+06     10.137776   3105.301915      2.914728
std        0.955748  6.393107e+05      5.868725     90.676964      0.965921
min        1.000000  8.500000e+04      0.000000   3000.000000      0.000000
25%        2.000000  6.500000e+05      6.100000   3044.000000      2.000000
50%        3.000000  9.030000e+05      9.200000   3084.000000      3.000000
75%        3.000000  1.330000e+06     13.000000   3148.000000      3.000000
max       10.000000  9.000000e+06     48.100000   3977.000000     20.000000

           Bathroom           Car       Landsize  BuildingArea    YearBuilt  \
count  13580.000000  13518.000000   13580.000000   7130.000000  8205.000000
mean       1.534242      1.610075     558.416127    151.967650  1964.684217
std        0.691712      0.962634    3990.669241    541.014538    37.273762
min        0.000000      0.000000       0.000000      0.000000  1196.000000
25%        1.000000      1.000000     177.000000     93.000000  1940.000000
50%        1.000000      2.000000     440.000000    126.000000  1970.000000
75%        2.000000      2.000000     651.000000    174.000000  1999.000000
max        8.000000     10.000000  433014.000000  44515.000000  2018.000000

          Lattitude    Longtitude  Propertycount
count  13580.000000  13580.000000   13580.000000
mean     -37.809203    144.995216    7454.417378
std        0.079260      0.103916    4378.581772
min      -38.182550    144.431810     249.000000
25%      -37.856822    144.929600    4380.000000
50%      -37.802355    145.000100    6555.000000
75%      -37.756400    145.058305   10331.000000
max      -37.408530    145.526350   21650.000000

In [ ]:
print(df.shape) #Describes the rows and columns of the dataset

(13580, 21)

In [ ]:
df.iloc[5:11,2:]

,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
5,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,2.0,1.0,0.0,181.0,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019.0
6,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,4.0,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,2.0,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0
8,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,1.0,1.0,1.0,0.0,NaN,NaN,Yarra,-37.8008,144.9973,Northern Metropolitan,4019.0
9,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,3.0,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.8010,144.9989,Northern Metropolitan,4019.0
10,2,u,700000.0,VB,Jellis,12/11/2016,2.5,3067.0,2.0,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8110,145.0067,Northern Metropolitan,4019.0

# **Check for missing values in each column.**

In [ ]:
df.loc[0:3,("Rooms","Price")]

   Rooms      Price
0      2  1480000.0
1      2  1035000.0
2      3  1465000.0
3      3   850000.0

In [ ]:
print(df["BuildingArea"].isna().sum())

NameError: name 'df' is not defined

**Identify categorical and numerical columns.**

In [ ]:
print(df.dtypes)

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

# You have done the first set of activities Welldone  :**Expected Learning Outcome: By now, the students should understand the structure of the dataset, recognize missing values, and differentiate between categorical and numerical data.** bold text bold text

## **Activity 2: Handling Missing Values (45 min)**

Goal: Learn different techniques to handle missing data in a dataset.

---

In [ ]:
#	Drop rows with missing values and observe the changes.
df_cleaned = df.dropna() #CLEANING DATA
print(df_cleaned.info()) #FINDING INFO OF CLEAN DATA

<class 'pandas.core.frame.DataFrame'>
Index: 6196 entries, 1 to 12212
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         6196 non-null   object
 1   Address        6196 non-null   object
 2   Rooms          6196 non-null   int64
 3   Type           6196 non-null   object
 4   Price          6196 non-null   float64
 5   Method         6196 non-null   object
 6   SellerG        6196 non-null   object
 7   Date           6196 non-null   object
 8   Distance       6196 non-null   float64
 9   Postcode       6196 non-null   float64
 10  Bedroom2       6196 non-null   float64
 11  Bathroom       6196 non-null   float64
 12  Car            6196 non-null   float64
 13  Landsize       6196 non-null   float64
 14  BuildingArea   6196 non-null   float64
 15  YearBuilt      6196 non-null   float64
 16  CouncilArea    6196 non-null   object
 17  Lattitude      6196 non-null   float64
 18  Longtitude     6196 non-null   float64
 19  Regionname     6196 non-null   object
 20  Propertycount  6196 non-null   float64
dtypes: float64(12), int64(1), object(8)
memory usage: 1.0+ MB
None

In [ ]:
# Fill missing numerical values with the column mean/median.
df["Car"].fillna(df["Car"].mean(), inplace=True)

<ipython-input-10-a813652945b6>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Car"].fillna(df["Car"].mean(), inplace=True)

In [ ]:
df_cleaned = df.dropna()
df_cleaned.info()
df.dropna(inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6196 entries, 1 to 12212
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         6196 non-null   object
 1   Address        6196 non-null   object
 2   Rooms          6196 non-null   int64
 3   Type           6196 non-null   object
 4   Price          6196 non-null   float64
 5   Method         6196 non-null   object
 6   SellerG        6196 non-null   object
 7   Date           6196 non-null   object
 8   Distance       6196 non-null   float64
 9   Postcode       6196 non-null   float64
 10  Bedroom2       6196 non-null   float64
 11  Bathroom       6196 non-null   float64
 12  Car            6196 non-null   float64
 13  Landsize       6196 non-null   float64
 14  BuildingArea   6196 non-null   float64
 15  YearBuilt      6196 non-null   float64
 16  CouncilArea    6196 non-null   object
 17  Lattitude      6196 non-null   float64
 18  Longtitude     6196 non-null   float64
 19  Regionname     6196 non-null   object
 20  Propertycount  6196 non-null   float64
dtypes: float64(12), int64(1), object(8)
memory usage: 1.0+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 6196 entries, 1 to 12212
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         6196 non-null   object
 1   Address        6196 non-null   object
 2   Rooms          6196 non-null   int64
 3   Type           6196 non-null   object
 4   Price          6196 non-null   float64
 5   Method         6196 non-null   object
 6   SellerG        6196 non-null   object
 7   Date           6196 non-null   object
 8   Distance       6196 non-null   float64
 9   Postcode       6196 non-null   float64
 10  Bedroom2       6196 non-null   float64
 11  Bathroom       6196 non-null   float64
 12  Car            6196 non-null   float64
 13  Landsize       6196 non-null   float64
 14  BuildingArea   6196 non-null   float64
 15  YearBuilt      6196 non-null   float64
 16  CouncilArea    6196 non-null   object
 17  Lattitude      6196 non-null   float64
 18  Longtitude     6196 non-null   float64
 19  Regionname     6196 non-null   object
 20  Propertycount  6196 non-null   float64
dtypes: float64(12), int64(1), object(8)
memory usage: 1.0+ MB

In [ ]:
#Fill missing categorical values with the mode or a placeholder value.
df["Car"].fillna(3, inplace=True)

<ipython-input-12-ef7134cd445f>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Car"].fillna(3, inplace=True)

**Now , Compare the dataset before and after handling missing values. Explain what are the changes. How do it affects the data quality**

## **Activity 3: Indexing and Selecting Data (30 min)**

Goal: Learn different ways to access and manipulate data using indexing.

In [ ]:
#Access specific columns
print(df["Price"])

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
           ...
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

In [ ]:
#Use .loc[] for label-based selection
print(df.loc[1, ["Price", "Suburb", "Car", "Postcode"]])

Price        1035000.0
Suburb      Abbotsford
Car                0.0
Postcode        3067.0
Name: 1, dtype: object

In [ ]:
#Use .iloc[] for position-based selection
print(df.iloc[5:10, 1:4])  # Selecting specific rows and columns

              Address  Rooms Type
5      129 Charles St      2    h
6        124 Yarra St      3    h
7       98 Charles St      2    h
8  6/241 Nicholson St      1    u
9       10 Valiant St      2    h

In [ ]:
print(df.iloc[:5, :4])
print(df.loc[9, ["Price"]])
print(df.loc[:, ["Suburb", "Rooms"]])
print(df.iloc[:,df.columns])

NameError: name 'df' is not defined

**Student challenge**
Now write commands for the following tasks
1. Select and print the first 5 rows and the first 3 columns using .iloc[].
2. Retrieve the value of "Price" for the 10th row (index 9) using .iloc[].
# 3. Extract all rows but only the "Suburb" and "Rooms" columns using .iloc[].

In [ ]:
#ONLY FOR instructor
print(df.iloc[:5, :3])

       Suburb          Address  Rooms
1  Abbotsford  25 Bloomburg St      2
2  Abbotsford     5 Charles St      3
4  Abbotsford      55a Park St      4
6  Abbotsford     124 Yarra St      3
7  Abbotsford    98 Charles St      2

In [ ]:
#ONLY FOR instructor

print(df.iloc[9, df.columns.get_loc("Price")])

1097000.0

In [ ]:
#ONLY FOR instructor

print(df.iloc[:, [df.columns.get_loc("Suburb"), df.columns.get_loc("Rooms")]])

              Suburb  Rooms
0         Abbotsford      2
1         Abbotsford      2
2         Abbotsford      3
3         Abbotsford      3
4         Abbotsford      4
...              ...    ...
13575  Wheelers Hill      4
13576   Williamstown      3
13577   Williamstown      3
13578   Williamstown      4
13579     Yarraville      4

[13580 rows x 2 columns]

**Filter properties with a price above a given threshold**

In [ ]:
high_price = df[df["Price"] > 1600000]
print(high_price.head())

         Suburb               Address  Rooms Type      Price Method   SellerG  \
6    Abbotsford          124 Yarra St      3    h  1876000.0      S    Nelson
7    Abbotsford         98 Charles St      2    h  1636000.0      S    Nelson
80  Albert Park  112 Beaconsfield Pde      3    h  2850000.0     PI    Buxton
81  Albert Park          94 Graham St      3    h  1850000.0      S      Greg
85  Albert Park     104 Richardson St      4    h  2300000.0      S  Marshall

         Date  Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
6   7/05/2016       2.5    3067.0  ...       2.0  0.0     245.0         210.0
7   8/10/2016       2.5    3067.0  ...       1.0  2.0     256.0         107.0
80  4/03/2017       3.3    3206.0  ...       2.0  0.0     211.0         198.0
81  4/03/2017       3.3    3206.0  ...       2.0  0.0     128.0         133.0
85  7/05/2016       3.3    3206.0  ...       2.0  1.0     153.0         180.0

    YearBuilt   CouncilArea Lattitude  Longtitude             Regionname  \
6      1910.0         Yarra  -37.8024    144.9993  Northern Metropolitan
7      1890.0         Yarra  -37.8060    144.9954  Northern Metropolitan
80     1890.0  Port Phillip  -37.8481    144.9499  Southern Metropolitan
81     1890.0  Port Phillip  -37.8452    144.9488  Southern Metropolitan
85     1880.0  Port Phillip  -37.8447    144.9523  Southern Metropolitan

   Propertycount
6         4019.0
7         4019.0
80        3280.0
81        3280.0
85        3280.0

[5 rows x 21 columns]

## **Activity 4: Data Transformation and Aggregation (45 min)**

Goal: Apply transformation and aggregation techniques to analyze data.

In [ ]:
#Convert categorical data into numerical format (if necessary).
print(df["Type"])
df["Type"] = df["Type"].astype("category").cat.codes

0        h
1        h
2        h
3        h
4        h
        ..
13575    h
13576    h
13577    h
13578    h
13579    h
Name: Type, Length: 13580, dtype: object

In [ ]:
# Create a new column "Price per Square Meter"
df["Price_per_m2"] = df["Price"] / df["BuildingArea"]

In [ ]:
df["Price_per_Room"] = df["Price"] / df["Rooms"]
print(df.loc[:10, ["Price_per_Room"]])
nan_count = df['Price_per_Room'].isna().sum()
print(nan_count)
df['Price_per_Room'].fillna(df['Price_per_Room'].mean(), inplace=True)

    Price_per_Room
0    740000.000000
1    517500.000000
2    488333.333333
3    283333.333333
4    400000.000000
5    470500.000000
6    625333.333333
7    818000.000000
8    300000.000000
9    548500.000000
10   350000.000000
0

****Student challenge**
Now write commands for the following tasks: Creating a New Column "Price per Room"**
1. Create a new column Price_per_Room
2. Display the first 10 rows of the new column to check the results
3. Handle any potential NaN or infinite values by replacing them with 0

In [ ]:
#ONLY for Instructor
df["Price_per_Room"] = df["Price"] / df["Rooms"]
#Display the first 10 rows of the new column to check the results
print(df[["Rooms", "Price", "Price_per_Room"]].head(10))

   Rooms      Price  Price_per_Room
0      2  1480000.0   740000.000000
1      2  1035000.0   517500.000000
2      3  1465000.0   488333.333333
3      3   850000.0   283333.333333
4      4  1600000.0   400000.000000
5      2   941000.0   470500.000000
6      3  1876000.0   625333.333333
7      2  1636000.0   818000.000000
8      1   300000.0   300000.000000
9      2  1097000.0   548500.000000

In [ ]:
 # Fill NaN values with 0
df["Price_per_Room"] = df["Price_per_Room"].fillna(0)

# Replace infinite values with 0
df["Price_per_Room"].replace([np.inf, -np.inf], 0, inplace=True)
 # Fill NaNs with 0
df.replace([np.inf, -np.inf], 0, inplace=True)  # Replace infinite values

<ipython-input-20-2be7b09ebf45>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Price_per_Room"].fillna( 0, inplace=True)  # Fill NaNs with 0

**Group data by Suburb and find the average price.**

In [ ]:
suburb_avg_price = df.groupby("Suburb")["Price"].mean()
print(suburb_avg_price)

Suburb
Abbotsford      1.060366e+06
Aberfeldie      1.277455e+06
Airport West    7.566567e+05
Albanvale       5.370833e+05
Albert Park     1.941355e+06
                    ...
Wonga Park      9.000000e+05
Wyndham Vale    4.832500e+05
Yallambie       8.396875e+05
Yarra Glen      6.200000e+05
Yarraville      9.886155e+05
Name: Price, Length: 314, dtype: float64

**Sort the dataset based on price in descending order.**

In [ ]:
df_sorted = df.sort_values(by="Price", ascending=False)
print(df_sorted.head())

## **Activity 5: Data Export and Reporting (30 min)**

Goal: Save the cleaned and manipulated dataset for further use.

In [ ]:
#Save the cleaned dataset to a new CSV file.
df.to_csv("cleaned_melb_data.csv", index=False)

In [ ]:
  # Generate a basic summary report using Pandas profiling.
  from pandas_profiling import ProfileReport

  profile = ProfileReport(df)
  profile.to_file("report.html")

#Students will learn how to store and share processed datasets for further analysis.

ModuleNotFoundError: No module named 'pandas_profiling'